*.html
*.Rhistory
*.qmd
*.docx
output/chains*
less_old/output/chains*
old/output/chains*
simulation_study/output/chains*
simulation_study2/output/chains*
simulation_study3/output/chains*
simulation_study4/output/chains*
simulation_study5/output/chains*
simulation_study6/chains/chains*
simulation_study6/output/chains*
simulation_study7/chains/chains*
data_analysis/output/chains*
