*.html
*.Rhistory
*.qmd
output/chains*
new/output/chains*
old/output/chains*
simulation_study/output/chains*
simulation_study2/output/chains*
simulation_study3/output/chains*
simulation_study4/output/chains*
simulation_study5/output/chains*